*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition:all .3s;
    user-select:none;
  }
  
/*   
.image{
  height: 10vh;
  width: 400vw;
}
.outer_box1{
  background-color: white;
  height: 60vh;
  width: 25vw;
  display:flex;
  flex-direction: row;

  
}
.inner_box1{
height: 45vh;
width: 19vw;
margin-left: 3%;;
background-color: rgb(227, 231, 235);
}
   */
  body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    font-family: 'Open Sans', sans-serif;
    background:#29303E;
  }
  
  
  .mytra-login{
    width:800px;
    height:700px;
    display:flex;
    margin-left: 45vh;
  
  }
  
  .mytra-login form{
    background:#f5efef;
    width:50%;
    padding:105px 30px;
  }
  
  .mytra-login .poster{
    width:50%;
    /* background:url('https://img.freepik.com/premium-photo/excited-crazy-amazed-girlish-lady-open-mouth-wow-reaction_274222-27283.jpg'); */
    background-size:cover;
    background-position:33%;
  }
  
  
  .mytra-login form img {
    /* width:-800px; */
    height:19vh;
    margin-bottom: 49px;
    margin-top: -9vh;
  }
  
  .mytra-login form .heading{
    font-size:1.4em;
    margin-top:15px;
  }
  
  .mytra-login form p{
    font-size:.95em;
    color:#c61717;
    margin-bottom:40px;
  }
  
  .mytra-login form label{
    display:block;
    margin-top:20px;
    color:#444;
  }
  
  .mytra-login form input{
    border:none;
    outline:none;
    border-bottom:1px solid #000;
    width:100%;
    padding:10px 0px;
  }
  
  
  
  .mytra-login form .forgot{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
    color:#444;
    font-size:.85em;
  }
  
  .mytra-login form .forgot label{
    margin-top:0;
    font-size:1em;
  }
  
  .mytra-login form .forgot input{
    width:auto;
  }
  
  
  .mytra-login form .forgot a{
    color:#E72744;
    cursor:pointer;
  }
  
  
  .mytra-login form button{
    border:none;
    outline:none;
    margin-top:40px;
    padding:12px 0px;
    border-radius:5px;
    cursor:pointer;
  }
  
  .mytra-login form .login{
    width:60%;
    color:#fff;
    background:#E72744;
  }
  
  .mytra-login form .login:hover{
    background:#fff;
    color:#E72744;
    box-shadow:0 0 10px #ccc;
  }
  
  .mytra-login form .signup{
    width:38.5%;
    color:#E72744;
    background:#fff;
    box-shadow:0 0 10px #ccc;
  }
  
  .mytra-login form .signup:hover{
    background:#e72744;
    color:#fff;
  }
  
  .login{
    width: 19vw;
    align-items: center;
    justify-content: center;
    margin-left: 7.5vh;
    font-size: large;
    
  }
#box4{
  font-size: large;

}
.Policy{
  color: #E72744;
}
.Policy1{
  color: #E72744;
  margin-top: 100vh;
}